<link rel="stylesheet" href="/styles/header.css" />
<header>
<nav>
</button>
<div class="collapse navbar-collapse justify-content-between"  id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/Quizzes"> Quizzes </a>
    <a class="nav-item nav-link" href="/Quizzes/myQuiz"> My Quiz </a>
    <a class="nav-item nav-link" href="/Quizzes/Create"> Create Quiz </a>
    <a class="nav-item nav-link" href="/Quizzes/Login"> Login </a>
    <a class="nav-item nav-link" href="/Quizzes/Register"> Register </a>
    <a class="logo"><img src=""></li></a>
  </div>
</nav>
</header>