<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz App - Login</title>
  <!--img or app sysmbol will goes here -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css"> <!-- Include any necessary CSS files -->
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1>Login</h1>
      <% if (errorMessage) { %>
        <p class="error">
          <%= errorMessage %>
        </p>
        <% } %>
          <form action="/api/login" method="POST">
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Login</button>
          </form>
    </main>
</body>

</html>